form.form-control
	label(for="cpuSelect") CPUs
	select(name="cpuSelect" id="cpuSelect")
		option(value="1") 1
		option(selected="selected" value="2") 2
		option(value="4") 4
	label(for="ramSelect") RAM (GB)
	select(name="ramSelect" id="ramSelect")
		option(value="1") 1
		option(selected="selected" value="2") 2
		option(value="4") 4
	label(for="diskSelect") Disk (GB)
	select(name="diskSelect" id="diskSelect")
		option(selected="selected" value="1") 4
		option(value="2") 8
		option(value="4") 16
	label(for="imageSelect") Image
	select(name="imageSelect" id="imageSelect")
		option(selected="selected" value="0x5AzHrUJszd4MI2") Blender (0x5AzHrUJszd4MI2)
		option(value="S0CLDP4db6mlNaZh") Photos (S0CLDP4db6mlNaZh)
		option(value="sW66MDjOybWSyPwD") Math (sW66MDjOybWSyPwD)