//- markup
//- the action URL needs to be improved!
.form-control.flex-auto
	form(id="golem-config-form" action="" method="POST")
		.form-group
			label(for="cpuSelect")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#cpu')
				|CPUs
			select(name="cpuSelect" id="cpuSelect")
				option(value="1") 1
				option(selected="selected" value="2") 2
				option(value="4") 4
		.form-group
			label(for="ramSelect")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#aspect-ratio')
				|RAM
			select(name="ramSelect" id="ramSelect")
				option(value="1") 1 GB
				option(selected="selected" value="2") 2 GB
				option(value="4") 4 GB
		.form-group
			label(for="discSelect")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#hdd')
				|Disk
			select(name="discSelect" id="discSelect")
				option(selected="selected" value="4") 4 GB
				option(value="8") 8 GB
				option(value="16") 16 GB
		.form-group
			label(for="imageSelect")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#disc')
				|Image
			input#imageSelect.datalist(type="text" list='images' name='imageSelect' placeholder="Enter Image Hash" autocomplete="off" pattern="[A-Za-z0-9]+" value="9a3b5d67b0b27746283cb5f287c13eab1beaa12d92a9f536b747c7ae" )
			datalist#images
				option(value='cderycvgbhkun')
					|cderycvgbhkun
				option(value='xceryctibvuoi')
					|xceryctibvuoi
				option(value='xderycvtyubur')
					|xderycvtyubur
				option(value='crtuvbyuionmo')
					|crtuvbyuionmo
				option(value='crftuvyuichsi')
					|crftuvyuichsi
				option(value='crtcfyhuinuio')
					|crtcfyhuinuio

		.form-group.no-border
			button(type="submit" value="Run" id="submitPen" class="btn yn-load-waiting" title='Run Slate' disabled="disabled")
				svg.bi(width='16' height='16' fill='currentColor' class="play-icon")
					use(xlink:href='/icons.svg#play-fill')
				svg.bi(width='16' height='16' fill='currentColor' class="loading-icon")
					use(xlink:href='/icons.svg#arrow-clockwise')
				//- |Run
			button.red(value="Stop" id="stopPen" class="btn" title='Stop Slate' disabled="disabled")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#stop-fill')
				//- |Stop
			button(value="Reset" id="resetPen" class="btn" title='Reset Slate' disabled="disabled")
				svg.bi(width='16' height='16' fill='currentColor')
					use(xlink:href='/icons.svg#bootstrap-reboot')
				//- |Reset

//- JS

script(src="/javascripts/config-form.js")