<h4 class="text-two">Files:</h4>
<div class="filelist-wrapper">
    <ul>
        <li>
            <input type="checkbox" id="list-item-1">
            <label for="list-item-1" class="first folder-label">Folder 1</label>
            <ul>
                <li>super-long-freaking-filename.ts</li>
                <li class="open-in-editor">File.js</li>
                <li>File.yaml</li>
                <li>File.json</li>
            </ul>
        </li>
        <li>
            <input type="checkbox" id="list-item-2">
            <label for="list-item-2" class="first folder-label">Folder 2</label>
            <ul>
                <li>File.ts</li>
                <li>File.js</li>
                <li>File.yaml</li>
                <li>File.json</li>
            </ul>
        </li>
    </ul>
</div>