//- html
a.mb-2(href="https://www.youtube.com/watch?v=ZtcffGY5asY" target="_blank")
    svg.bi.mr-3(width='22' height='22' fill='currentColor' style="vertical-align:middle")
        use(xlink:href='/icons.svg#play-btn')
    |Watch SLATE Demo Video

h4.text-five.column-title Files:

// File Upload Field

label#file-upload-label.drop-label(for='file-upload-field')
    svg.bi(width='18' height='18' fill='currentColor')
        use(xlink:href='/icons.svg#download')
    br
    |     Click or Drop Files Here
    input#file-upload-field(type='file' name='uploads[]' multiple='multiple')
.refresh-wrap
    a#refresh-files-btn.text-five.d-inline-flex.align-items-center(href="#")
        svg.bi.mr-2(width='22' height='22' fill='currentColor')
            use(xlink:href='/icons.svg#arrow-clockwise')
        | Refresh File List
.filelist-wrapper

//- JS

script.
    const filesData = !{JSON.stringify(files.children)};
script(src="/javascripts/files.js")