$bg-hover-color:lighten($one, 2%);
$active-file-color:lighten($five, 2%);
.filelist-wrapper {
    margin: auto;
    width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            input[type="checkbox"] {
                position: absolute;
                left: -9999px;
                &~ul {
                    height: 0;
                    transform: scaleY(0);
                }
                &:checked~ul {
                    height: 100%;
                    transform-origin: top;
                    // transition: transform .5s $transition-base;
                    transform: scaleY(1);
                }
                &:checked+label {
                    // background: $bg-hover-color;
                    &:after{
                        content:"-";
                    }
                }
            }
            label {
                display: block;
                cursor: pointer;
                padding: 10px;
                position: relative;
                border-bottom: 1px solid $two;
                &:after{
                    content:"+";
                    position: absolute;
                    top:0;
                    right:10px;
                    bottom: 0;
                    font-size:1.2rem;
                    line-height:2.4em;
                }
                &:hover {
                    background: $bg-hover-color;
                }
            }

            ul li {
                padding: 5px 20px;
                position: relative;
                &:hover {
                    // background: $bg-hover-color;
                    color:$four;
                    cursor:pointer;
                }
                &.open-in-editor{
                    background: $active-file-color;
                    color:$one;
                    &:hover {
                        color:$four;
                    }
                    &:after{
                        content:">";
                        position: absolute;
                        top:0;
                        right:10px;
                        bottom: 0;
                        font-size:1rem;
                        line-height:2.2em;
                    }
                }
            }
        }
    }
}