$bg-hover-color:lighten($one, 2%);
$active-file-color:lighten($five, 2%);
.filelist-wrapper {
    margin: 30px auto 0;
    width: 100%;
    max-width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 7px 10px;
            position: relative;
            display:flex;
            transition: all .3s ease-out;
            color: $two;
            border-bottom: 1px solid $two;
            overflow-x:hidden;
            &:last-of-type{
                border-bottom:none;
            }
            a{
                text-decoration: none;
                word-break: break-all;
                i{
                    margin-right:5px;
                }
            }
            &:hover {
                background: $active-file-color;
                color:$four;
                cursor:pointer;
                overflow-x:initial;
            }
            &.open-in-editor{
                background: $active-file-color;
                color:$one;
                &:hover {
                    color:$four;
                }
                &:after{
                    content:">";
                    position: absolute;
                    top:50%;
                    right:10px;
                    font-size:1rem;
                    line-height:1em;
                    transform:translate(0,-50%);
                }
            }
        }
    }
}


.drop-label {
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color:$two;
    width:100%;
    height:100px;
    border: 1px solid $five;
    border-radius: 6px;
    padding: 20px;
    text-align:center;
    position: relative;
    transition: all 0.3s ease-out;
    &.highlight, &:hover {
        color:$six;
        border-color: $six;
    }
    input{
        cursor: pointer;
    }
  }
  #file-upload-field {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:0;
  }