/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$white: $three;
$red: $five;
$bodyColor: $two;
$borderFormEls: $two;
$bgFormEls: $bodyColor;
$bgFormElsFocus: $one;

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 $white;
}

/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width:100%;
    @include media-breakpoint-up(md){
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: nowrap;
    }
    @media only screen and (min-width:1440px){
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: nowrap;
    }
    form{
      width:100%;
      @include media-breakpoint-up(lg){
        width:auto;
      }
    }
    .form-group{
        padding: 0 .4rem;
        display: flex;
        align-items: center;
        border: 1px solid $two;
        border-bottom:none;
        margin:.5rem 0;
        // width:100%;
        &:last-of-type{
          margin: 0 0 .5rem 0 !important;
          padding: 0 !important;
          @include media-breakpoint-up(lg){
            margin:0 .4rem 0 0 !important;
          }
        }
        @include media-breakpoint-up(lg){
          display: inline-flex;
          margin:0 .4rem 0 0;
          width:auto;
        }
        &.no-border{
            border:none !important;
        }
        label{
            margin-right:.4rem;
            display: inline-flex;
            align-items:center;
            color:$two;
            svg{
                margin-right:.4rem;
            }
        }
    }
}

.form-control li,
.form-control .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form-control select,
.form-control input,
.form-control textarea,
.form-control button {
  line-height: 1;
  padding: 5px 7px;
  border: none;
  color: $white;
  background: transparent;
}

.form-control ::placeholder {
  color: $three;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.form-control input[type="text"]{
  // border-bottom:1px solid $two;
  outline:0;
}

.form-control select:focus{
    background: $bgFormElsFocus url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg) no-repeat right center;
    background-size: auto 35%;
}

.form-control select {
  outline:0;
  padding-right:20px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg) no-repeat right center;
  background-size: auto 35%;
}

.form-control *:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

input:invalid, select:invalid{
  outline: 3px solid $five !important;
  color:$five;
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control .required-msg {
  display: none;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.form-control .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.form-control button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.form-control button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.form-control button:enabled:hover .back,
.form-control button:focus .back {
  transform: translate(-50%, -50%);
}

.form-control button:enabled:hover .front,
.form-control button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-control input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.form-control input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.form-control input[type="checkbox"] + label::before,
.form-control input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
}

.form-control input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid $white;
}

.form-control input[type="checkbox"]:checked + label::before {
  background: $red;
}

.form-control input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid $white;
  border-right: 2px solid $white;
  transform: rotate(45deg);
}

.btn{
    display: inline-flex;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $six !important;
    color: $one !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    justify-content: center;
    margin: 0 3px 0 0;
    &:last-of-type{
      margin:0 !important;
    }
    &.red{
      background-color:$five !important;
      &:hover{
        color: $five !important;
        background-color: $one !important;
        border-color: $five !important;
      }
    }
    &:hover{
        color: $six !important;
        background-color: $one !important;
        border-color: $six !important;
    }
    svg{
        // margin-right:.4rem;
    }
    &.save-link{
      position: absolute;
      bottom:1rem;
      right:1rem;
      z-index:1071;
    }
}