#golem-slate-ui-wrap{
    position: relative;
    background-color: $one;
    // linear-gradient(195deg, darken($one, 5%) 0%, $one 90%);
    background-image: linear-gradient(90deg, rgba(darken($one, 5%),0.8), rgba(255,0,0,0) 80%),
                linear-gradient(180deg, adjust-hue($one, 7deg), rgba(0,255,0,0) 70.71%),
                linear-gradient(157deg, adjust-hue($five, -15deg), rgba(0,255,255,0) 50.71%),
                linear-gradient(157deg, rgba($six,0.6), rgba(0,255,255,0) 60.71%),
                linear-gradient(to top, rgba($two-dark, 0.5) 0%, rgba($two-dark, 0.3) 5%, rgba($one, 0) 100%);
    border-bottom: 10px solid $one;
    width:90vw;
    height:auto;
    min-height: 90vh;
    box-shadow: 0rem 2rem 20px -15px rgba($one,.5);
    @include media-breakpoint-up(xl) {
        height: 90vh;
    }
    margin: 5vh auto;
    padding:1rem 1.5rem;
    border-radius: .7rem;
    &.small{
        width: 90vw;
        max-width:500px;
        max-height: 60vh !important;
        min-height: auto;
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
        @include media-breakpoint-up(xl) {
            max-height:50vh !important;
            min-height:50vh !important;
        }
    }
    &:after{
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        height:2rem;
        background: linear-gradient(0deg, rgba($three, 0.2) 0%, rgba($two, 0.2) 3%, rgba($one, 0) 100%);
        mix-blend-mode: color-dodge;
        border-bottom: 1px solid $one;
    }
    #golem-slate-container{
        display:flex;
        flex-direction:column;
        align-content: space-around;
        align-items:center;
        justify-content: space-around;
        flex-wrap: nowrap;
        width: 100%;
        height:100%;
        flex: 1;
        @include media-breakpoint-up(xl) {
            flex-direction:row;
            flex-wrap: wrap;
        }
        .ui-col{
            width:100%;
            height:auto;
            padding:1rem;
            position: relative;
            @include media-breakpoint-up(xl) {
                width:auto;
                height:calc(100% - 120px);
            }
            @media only screen and (min-width:1440px){
                height:calc(100% - 60px);
            }
            &.closed{
                flex:0 0 auto !important;
                // visibility: hidden;
                font-size:0;
            }
        }
        #golem-slate-nav{
            width:100%;
            order: 1;
            align-items: flex-start;
            justify-content: center;
            @media only screen and (min-width:1440px){
                width:auto;
                align-items: center;
            }
        }
        .form-control{
            flex:1;
            order: 4;
            @include media-breakpoint-up(xl) {
                order: 2;
                align-items: flex-start;
            }
        }
        #golem-slate-filelist{
            display:flex;
            flex-direction:column;
            border-bottom:1px solid $two;
            order:2;
            @include media-breakpoint-up(xl) {
                border-bottom:none;
                border-right:1px solid $two;
                min-width:20%;
                max-width:20%;
                order: 3;
            }
            transition: flex .8s $transition-base;
            #filelist{
                height: 100%;
                display:inline-flex;
                flex-direction:column;
            }
        }
      #golem-slate-editor{
          flex: 1;
          min-height: 40vh;
          order: 3;
          margin: 0 0 1rem 0;
          @include media-breakpoint-up(xl) {
            order:4;
            margin: 0;
          }
          #editor-container{
              width:100%;
              height:93%;
              padding-bottom:50px;
              @include media-breakpoint-up(xl) {
                padding-bottom:0px;
              }
          }
      }
      #golem-slate-output{
            border-top:1px solid $two;
            transition: flex .8s $transition-base;
            // min-height: 50vh;
            flex: 1;
            min-height: 40vh;
            order:5;
            #output-container{
                width:100%;
                height:100%;
                max-height: 50vh;
                overflow: scroll;
                @include media-breakpoint-up(xl) {
                    max-height:100%;
                }
            }
            @include media-breakpoint-up(xl) {
                border-top:none;
                border-left:1px solid $two;
                max-width:30%;
            }
      }
    }
}

.notify{
    position: absolute;
    bottom: 1rem;
    left:1.5rem;
    transform: translate(0,100%);
    opacity:0;
    animation: slideup 0.2s ease-in 0s 1 forwards;
    padding:.1rem .5rem;
    border-radius: .2rem;
    &.notify-success{
        color:$one;
        background:$six;
    }
    &.notify-fail{
        color:$one;
        background:$five;
    }
}

@keyframes slideup{
    to{
        transform: translate(0,0);
        opacity:1;
    }
}