#golem-slate-nav{
     display:inline-flex;
     width: 100%;
     height:auto;       
     padding:.5rem 1rem .5rem;
     align-items:flex-start;
     justify-content:space-between;
     flex-wrap: wrap;
     @include media-breakpoint-up(lg){
        height:60px;
        align-items:center;
        flex-wrap: nowrap;
     }
     .logo{
         font-size:.8rem;
         display:flex;
         flex-wrap:wrap;
         align-items: center;
         justify-content: center;
         @include media-breakpoint-up(lg){
            flex-wrap:nowrap;
            justify-content: flex-start;
         }
         img{
             display:inline-block;
             margin:0 auto .8rem;
             height:30px;
             width: auto;
             @include media-breakpoint-up(lg){
                margin:0 2rem 0 0;
             }
         }
         span.slate-name{
            display:block;
            white-space:nowrap;
            border-top: 1px solid $five;
            border-right: 1px solid $five;
            border-bottom: none;
            border-left: 1px solid $five;
            padding:.2rem .5rem;
         }
    }
}