extends layout

block content
  #golem-slate-ui-wrap.small
    .container-fluid.px-4.py-4
      .row.align-items-center.justify-content-center
        .col-8.col-md-6
          .logo.mb-3
            img(src="/images/golem-slate-logo.svg")
        .col-12(style="text-align:center")
          h2 Oops. Something went wrong.
          p Click below to return to safety.
          a.btn.mt-5(href="/s/")
            |Back to SLATE
