extends layout

block append head
    link(rel='stylesheet' href="/editor/lib/codemirror.css" type='text/css')

block content
    #golem-slate-ui-wrap
        #golem-slate-container
            #golem-slate-nav
                .logo
                    img(src="/images/golem-slate-logo.svg")
                    span.text-five.slate-name
                        | slate: wiggly-obsidian
                include partials/config-form.pug
            #golem-slate-filelist.ui-col
                #filelist
                    include partials/filelist.html
            #golem-slate-editor.ui-col
                #editor-container
            #golem-slate-output.ui-col
                #console-container

block append footer
    script(src="/javascripts/golem-slate-ui.js")
    script(src="/editor/lib/codemirror.js")
    script(src="/editor/mode/javascript/javascript.js")
    script.
        (function(w,d){
            const editor = CodeMirror(d.querySelector('#editor-container'), {
                value: `!{code}`,
                mode: {name: "javascript", json: true},
                lineNumbers: true,
                lineWrapping: true,
                theme: "golem-slate"
            }),
            bashconsole = CodeMirror(d.querySelector('#console-container'), {
                value: `Waiting for first code run...
                
        Click 'Run' above to start`,
                mode: {name: "javascript", json: true},
                lineWrapping: true,
                theme: "golem-slate-console"
            });
        })(window,document);