extends layout

block append head
    link(rel='stylesheet' href="/editor/lib/codemirror.css" type='text/css')
    link(rel='stylesheet' href="/bifont/bootstrap-icons.css" type='text/css')

block content
    #golem-slate-ui-wrap
        #golem-slate-container
            #golem-slate-nav
                .logo
                    img(src="/images/golem-slate-logo.svg")
                    span.text-five.slate-name
                        | slate: !{slate}
            include partials/config-form.pug
            .break.col-12
            #golem-slate-filelist.ui-col.align-self-stretch
                #filelist
                    include partials/filelist.pug
            #golem-slate-editor.ui-col.align-self-stretch
                #editor-container
            #golem-slate-output.ui-col.align-self-stretch
                .expand-btn.d-none.d-xl-inline-block
                    a#expand-output-btn(href="#")
                        svg.bi(width='20' height='20' fill='currentColor')
                            use(xlink:href='/icons.svg#arrows-expand')
                #output-container

block append footer
    script(src="/editor/lib/codemirror.js")
    script(src="/editor/mode/javascript/javascript.js")
    script.
        (function(w,d){
            //- expand console window
            function expandConsole(){
                d.querySelector('#golem-slate-ui-wrap').classList.toggle("running-pen");
            }
            d.querySelector('a#expand-output-btn').addEventListener('click', expandConsole);

            w.slates = {};
            const editor = CodeMirror(d.querySelector('#editor-container'), {
                value: `!{code}`,
                mode: {name: "javascript", json: true},
                lineNumbers: true,
                lineWrapping: true,
                theme: "golem-slate"
            }),
            bashconsole = CodeMirror(d.querySelector('#output-container'), {
                value: `Waiting for first code run. Click 'Run' above to start`,
                mode: {name: "javascript", json: true},
                lineWrapping: true,
                theme: "golem-slate-console",
                readOnly: true
            });
            
            w.slates.code = editor;
            w.slates.output = bashconsole;

        })(window,document);